[Unit]
Description=Ish service
Requires=ish.socket
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/home/ali/ish/
ExecStart=/home/ali/ish/.venv/bin/gunicorn \
          --access-logfile - \
          --workers 3 \
          --bind unix:/run/tanlovs.sock \
          config.wsgi:application

[Install]
WantedBy=multi-user.target
